body {
	margin: 0;
	padding: 0;
}
div {
	width: 200px;
	height: 200px;
}
.cajaRosa {
	background-color: #ee3e64;
}
.cajaAzul {
	background-color: #44accf;
	position: absolute;
	left: 200px;
}
.cajaVerde {
	background-color: #b7d84b;
}
.cajaAmarilla {
	background-color: yellow;
}